<div class="card">
    <a [routerLink]="['/products', product.id]">
        <img [src]="product.url" [alt]="product.name" />
    </a>

    <h3><b>Name :</b>{{ product.name }}</h3>
    <p class="price">${{ product.price | number:'1.2-2' }}</p>
    <p class="desc">{{ product.description }}</p>

    <div class="actions">
        <label>
            Qty:
            <input type="number"
            [(ngModel)]="quantity"
            (ngModelChange)="onQuantityChange($event)"
            min="1" />
        </label>
        <button (click)="addToCart()">Add to Cart</button>
    </div>
</div>
